
@model IEnumerable<TeacherModel>
@{

    Layout = "_Layout";
    var title = "Show Teacher Data" ;
    ViewData["Title"] = title;
}
<h2>@title</h2>
<h3><a asp-action="Create" class="btn btn-sm btn-secondary">Create</a></h3>
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr><th>Id</th><th>Name</th><th>Skills</th><th>Total Students</th><th>Salary</th><th>AddedOn</th></tr>
    </thead>
    <tbody>
        @if(Model==null)
        {
            <tr><td colspan="7" class=" text-center">No Data is Available</td></tr>
        }
        else
        {
            @foreach(var x in Model)
            {
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Name</td>
                    <td>@x.Skills</td>
                    <td>@x.TotalStudents</td>
                    <td>@string.Format(new System.Globalization.CultureInfo("en-US"),"{0:C2}",x.Salary)</td>
                    <td>@string.Format("{0:dddd,dd MMM yyyy}",x.AddedOn)</td>
                    <td><a asp-action="Update" asp-route-id="@x.Id">Update</a></td>
                    <td>
                        <form asp-action="Delete" method="post" asp-route-id="@x.Id">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>


</table>


